
h4, h2{
    text-align: center;
    font-size: 20px;
    color: gray;
    text-transform: uppercase;
}
#div_1{
    padding: 15px;
    margin:auto;
    width: 50%;
    border: 2px solid gray;
    text-align: center;
    
}
#div_2{
    padding: 10px;
    margin: 15px;
}
label{
    margin: 5px;
}
#button{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    margin: auto;
}